
                body{
                    display: flex;
                    flex-direction: column;
                    align-items: center; 
                    background-color: white;
                }
                