@media only screen and (max-width: 600px) {
    
.SignupBox{
    display: flex;
    justify-content: center;
    align-items: inherit;
    flex-direction: column;
    width: 100%;
    height: 1540px;
    bottom: -460px;
    position: absolute;
    z-index: 1;
    backdrop-filter: blur(2px);
}
#Signup-Form{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto ;
    width: 300px;
    background: rgba(56, 165, 249, 0.58);
    border: 0px #85aad6 solid;
    border-radius: 4px;
    
}
#exit-signup{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    justify-items: flex-start;
    width: 18px;
    font-size: 20px;
    height: 20px;
    color: white;
    margin-top: 15px;
    font-family: 'ABeeZee', sans-serif;
    margin-right: 15px;
    cursor: pointer;
    outline: none;
}
#exit-signup:active{
    color: red;
}
#Signup-Title{
    color: white;
    font-family: 'Bad Script', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 5px;
}
#Name-Signup{
    padding-left: 10px;
    font-size:11px;
    width: 200px;
    height: 40px;
    margin-bottom: 10px;
    background: #ffffff;
    border: 0.5px solid #75a7e4;
    box-sizing: border-box;
    border-radius: 3px;
    outline: none;
}
#Name-Signup:focus{
    border: 2px solid #4d7db8;
}
#Email-Signup{
    padding-left: 10px;
    font-size:11px;
    width: 200px;
    height: 40px;
    margin-bottom: 10px;
    background: #ffffff;
    border: 0.5px solid #75a7e4;
    box-sizing: border-box;
    border-radius: 3px;
    outline: none;
}
#Email-Signup:focus{
    border: 2px solid #4d7db8;
}
#Password-Signup{
    padding-left: 10px;
    font-size:11px;
    width: 200px;
    height: 40px;
    margin-bottom: 10px;
    background: #ffffff;
    border: 0.5px solid #75a7e4;
    box-sizing: border-box;
    border-radius: 3px;
    outline: none;
}
#Password-Signup:focus{
    border: 2px solid #4d7db8;
}
#Password-Repeat-Signup{
    padding-left: 10px;
    font-size:11px;
    width: 200px;
    height: 40px;
    margin-bottom: 10px;
    background: #ffffff;
    border: 0.5px solid #75a7e4;
    box-sizing: border-box;
    border-radius: 3px;
    outline: none;
}
#Password-Repeat-Signup:focus{
    border: 2px solid #4d7db8;
}

#SignupBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 40px;
    background: #38A5F9;
    border: 1px solid white;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    outline: none;
    /* shkronjat */
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
#SignupBtn:active{
    background-color: lightskyblue;
}

#Login-Help{
        /* background */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 35px;
    width: 250px;
    color: #30598C;
    background: white;
    border: 1px solid #30598C;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 20px;
    /* shkronja */
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px; 
}
#Login-Signup{
    padding-left: 10px;
    cursor: pointer;
}
#Login-Signup:active{
    color: gray;
}

/* Verify */

.VerifyBox{
    display: flex;
    justify-content: center;
    align-items: inherit;
    flex-direction: column;
    width: 100%;
    height: 1540px;
    bottom: -460px;
    position: absolute;
    z-index: 1;
    backdrop-filter: blur(2px);
}
#Verify-Form{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto ;
    width: 300px;
    background: rgba(56, 165, 249, 0.58);
    border: 0px #85aad6 solid;
    border-radius: 4px;
    
}
#Verify-Title{
    color: white;
    font-family: 'Bad Script', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 5px;
}
#Verify-text{
    border: white 1px solid;
    background-color: rgba(0, 0, 0, 0.405);
    padding: 10px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 21px;
    margin-top: 0.5px;
    margin-bottom: 10px;
    color: white;

}
#email{
    font-size: larger;
}

#Code-Verify{
    padding-left: 10px;
    font-size:11px;
    width: 200px;
    height: 40px;
    margin-bottom: 10px;
    background: #ffffff;
    border: 0.5px solid #75a7e4;
    box-sizing: border-box;
    border-radius: 3px;
    outline: none;
}
#Code-Verify:focus{
    border: 2px solid #4d7db8;
}
#VerifyBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    background: #38A5F9;
    border: 1px solid white;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    outline: none;
    /* shkronjat */
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
#VerifyBtn:active{
    background-color: lightskyblue;
}

#Help-Verify{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 30px;
    color: white;
}
#Verify-Resend:active{
    color: green;
}
}
